footer.footer
    .container.footer__container
        .footer__logo
            a.logo(href='http://www.oy-image.ru/')
                .logo__img
                .logo__name СТУДИЯ FASHION&BEAUTY
        a.phone.phone--footer(href='tel: +7 (965) 758 52 32') +7 (965) 758 52 32
        p.footer__address спб, УЛ. кАЗАНСКАЯ,7
        ul.social.social--footer
            li.social__item.social__item--vk
                a.social__link(href='https://vk.com/oyimagehouse', target='_blank')
            li.social__item.social__item--fb
                a.social__link(href='http://www.oy-image.ru/', target='_blank')
            li.social__item.social__item--insta
                a.social__link(href='https://www.instagram.com/ihonlyyou/', target='_blank')