header.header
    .container.header__container
        .header__logo
            a.logo.logo--header(href='http://www.oy-image.ru/')
                .logo__img
                .logo__name СТУДИЯ FASHION&BEAUTY
        a.phone(href='tel: +7 (965) 758 52 32') +7 (965) 758 52 32