nav.nav
    .container.nav__container
        ul.nav__list
            li.nav__item
                a.nav__link главная
            li.nav__item
                a.nav__link программа курса
            li.nav__item
                a.nav__link профильное образование
            li.nav__item
                a.nav__link преподаватель
            li.nav__item
                a.nav__link контакты