section.slider
    .container
        ul.slider__background.slider-for
            li.slider__background-item.slider__background-item--1
            li.slider__background-item.slider__background-item--2
            li.slider__background-item.slider__background-item--3
        .slider__content
            .slider__text
                h1.slider__title
                    |Эксклюзивное обучение
                    br
                    span.slider__title-bold стилистов
                    |в Милане
                a.slider__button.js-slider-button Забронировать место
            ul.slider__slider.slider-nav
                li.slider__slider-item.slider__slider-item--1
                    img(src='assets/images/1.2.jpg')
                li.slider__slider-item.slider__slider-item--2
                    img(src='assets/images/1.2.jpg')
                li.slider__slider-item.slider__slider-item--3
                    img(src='assets/images/1.2.jpg')