extends ../_template

block content
    .wrapper
        include ../common/header
        include ../common/slider
        include ../common/nav
        include ../common/fashion-prog
        include ../common/fashion-about
        include ../common/fashion-teacher
        include ../common/form
    include ../common/footer